/* 
USO EL CSS DE Alumno/ClasesActividades/clasesActividades.css

@import url(../../../variables.css);

.clases-actividades-ctn {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.create-clase-title {
    width: 550px;
    max-width: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.create-clase-title h2 {
    color: #FAFAFA;
}

.clases-actividades-ctn .clases-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
    margin-top: 40px;


} */

.create-clase-title {
    width: 550px;
    max-width: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}