@import url(../../../variables.css);

.clases-actividades-ctn {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.create-clase-title {
    width: 550px;
    max-width: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.create-clase-title h2 {
    color: #FAFAFA;
}

.clases-actividades-ctn .clases-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
    margin-top: 40px;
}

.clase-item {
    position: relative; 
    padding: 20px;
    width: 280px;
    max-width: 300px;
    height: fit-content;
    min-height: 300px;
    background-image: url('https://images.unsplash.com/photo-1534438327276-14e5300c3a48?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dGhlJTIwZ3ltfGVufDB8fDB8fHww');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    border-radius: 16px;
    overflow: hidden; 
}

.clase-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1;
    transition: all ease-in-out 200ms;
}

.clase-item:hover::before {
    background-color: rgba(0, 0, 0, 0.4); 
}

.clase-item > * {
    position: relative; 
    z-index: 2;
}

.clase-link {
    color: white;
    text-decoration: none;
}