.mi-rutina-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    width: 500px;
    min-width: 500px;
    max-width: 500px;
}

.crear-rutina-step-1-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 16px;
}

.crear-rutina-step-2-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: start;
    align-items: start;
}

.block-container {
    margin-top: '8px';
    border-top: '1px solid rgba(255,255,255,0.15)';
    padding: '10px';
    position: 'relative'; 
    min-width: 500px;
}

.agregar-bloque-ctn {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.sets-reps-ctn {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sets-reps-subctn {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.rondas-ctn {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.cantidad-rondas-descanso {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.emom-ctn {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cantidad-emom-ctn {
    display: flex;
    gap: 10px;
    justify-content: start !important;
    align-items: center;
}

.amrap-ctn {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cantidad-amrap-ctn {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.escalera-ctn {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
