.crear-rutina-step-1-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 16px;
}

.crear-rutina-step-2-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: start;
    align-items: start;
}

.block-container {
    margin-top: '8px';
    border-top: '1px solid rgba(255,255,255,0.15)';
    padding: '10px';
    position: 'relative'; 
    min-width: 500px;
}

.agregar-bloque-ctn {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.sets-reps-ctn {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sets-reps-subctn {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.rondas-ctn {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.cantidad-rondas-descanso {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.emom-ctn {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cantidad-emom-ctn {
    display: flex;
    gap: 10px;
    justify-content: start !important;
    align-items: center;
}

.amrap-ctn {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cantidad-amrap-ctn {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.escalera-ctn {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.suggestions-list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #101010;
    color: #fafafa;
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    z-index: 10;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .suggestions-list li {
    padding: 8px;
    cursor: pointer;
  }
  .suggestions-list li:hover {
    background: #202020;
  }
  
  @media screen and (max-width: 500px) {
    .crear-rutina-step1{
        width: 100%;
    }
    .css-b62m3t-container {
        width: 100% !important;
    }
    .css-13cymwt-control, #root > div.page-layout > div > div.crear-rutina-step1 > div > div.css-b62m3t-container > div {
        width: 100% !important;
    }
    .crearRutina-s1-continuar-btn-ctn {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .agregar-bloque-ctn {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }
  }