@import url("../../../variables.css");

.mis-turnos-ctn {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.proximos-turnos-ctn, .historial-turnos-ctn {
    width: 550px;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.proximo-turno-turnos {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.proximo-turno-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.historial-turno-title h2 {
    color: var(--text-color);
}

.turnos-ctn-title h2 {
    color: var(--text-color);
}

@media screen and (max-width: 550px) {
    .proximos-turnos-ctn, .historial-turnos-ctn {
        width: auto;
    }
}