/* MODAL */
.ta-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.ta-modal-content {
    position: relative;
    background: var(--background-color);
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    border: 1px solid var(--border-color);
    color: var(--text-color);
}

.ta-modal-close {
    position: absolute;
    top: 8px;
    right: 12px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.ta-modal-content ul {
    margin: 12px 0 0;
    padding-left: 20px;
}

/* CALENDARIO */

.turnos-filters {
    padding: 20px 0px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.turnos-filters-input-ctn {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 10px;
}

.rbc-toolbar {
    margin-bottom: 30px;
    font-size: 15px;
}

.rbc-toolbar .rbc-toolbar-label {
    text-align: end;
    text-transform: lowercase;
    font-weight: 600;
}

.rbc-label {
    padding: 0px 7.5px;
    font-size: 14px;
}

.rbc-toolbar .rbc-toolbar-label::first-letter {
    text-transform: uppercase;
}

.rbc-btn-group {
    display: flex;
    gap: 8px;
}

.rbc-btn-group button {
    border-radius: 5px;
    border: 1px solid var(--border-color);
    color: var(--text-color);
}

.rbc-btn-group>button:first-child:not(:last-child) {
    border-radius: 5px;
}

.rbc-btn-group>button:not(:first-child):not(:last-child) {
    border-radius: 5px;
}

.rbc-btn-group>button:last-child:not(:first-child) {
    border-radius: 5px;
}

.rbc-time-header-content {
    flex: 1 1;
    display: flex;
    min-width: 0;
    flex-direction: column;
    border-left: 1px solid var(--border-color);
}

.rbc-time-view .rbc-row {
    box-sizing: border-box;
    min-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.rbc-header {
    overflow: hidden;
    flex: 1 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 3px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    font-size: 90%;
    border-left: 1px solid var(--border-color);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
}

.rbc-header+.rbc-header {
    border-left: 1px solid var(--border-color);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
}

.rbc-time-view .rbc-allday-cell {
    box-sizing: border-box;
    width: 0px;
    height: 0px;
    position: relative;
    border: none;
}

.rbc-today {
    background-color: var(--background-color-distinct);
}

.rbc-current-time-indicator {
    background-color: #f10f4e;
}

.rbc-time-view {
    border: 1px solid var(--border-color);
    border-radius: 8px;
}

.rbc-time-header.rbc-overflowing {
    border-right: 1px solid var(--border-color);
}

.rbc-time-header-content {
    border-left: 1px solid var(--border-color);
}

.rbc-header+.rbc-header {
    border-left: 1px solid var(--border-color);
}

.rbc-time-content {
    border-top: 1px solid var(--border-color);
}

.rbc-time-slot {
    display: flex;
    flex: 1 0;
    justify-content: center;
    align-items: center;
}

.rbc-time-content>*+*>* {
    border-left: 1px solid var(--border-color);
}

.rbc-timeslot-group {
    border-bottom: 1px solid var(--border-color);
    min-height: 40px;
    display: flex;
    flex-flow: column nowrap;
}

.rbc-day-slot .rbc-time-slot {
    border-top: none;
}

.rbc-event.rbc-selected,
.rbc-day-slot .rbc-selected.rbc-background-event {
    background-color: #FFFFDA;
}

/* turnos  */

.rbc-day-slot .rbc-events-container {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    margin: 1px;
}

rbc-day-slot .rbc-event,
.rbc-day-slot .rbc-background-event {
    border: none;
    display: flex;
    max-height: 100%;
    min-height: 20px;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    justify-content: center;
    align-items: center;
}

.rbc-event,
.rbc-day-slot .rbc-background-event {
    border: none;
    box-sizing: border-box;
    box-shadow: none;
    margin: 0;
    padding: 2px 5px;
    background-color: #ffffda;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
}

.rbc-day-slot .rbc-event-content {
    width: 100%;
    flex: 1 1;
    word-wrap: break-word;
    line-height: 1;
    margin: 0px;
    height: fit-content;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rbc-day-slot .rbc-event,
.rbc-day-slot .rbc-background-event {
    border: none;
    display: flex;
    max-height: 100%;
    min-height: 20px;
    flex-flow: column wrap;
    align-items: flex-start;
    overflow: hidden;
    position: absolute;
    align-items: center;
}

.rbc-day-slot .rbc-events-container {
    border: none;
}

.rbc-event:focus,
.rbc-day-slot .rbc-background-event:focus {
    outline: none;
}

.calendar-wrapper {
    height: 75vh;
    margin: 24px 0;
}

@media (max-width: 850px) {
    .calendar-wrapper {
        height: 68vh;
    }

    .rbc-toolbar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        margin-bottom: 10px;
    }

    .turnos-filters {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }

    .turnos-filters-input-ctn {
        width: 100%;
    }
}