.usuarios-table {
    width: 100%;
    border-collapse: collapse;
}

.usuarios-table td {
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.usuarios-table th, .usuarios-table td {
    padding: 8px;
}

.usuarios-table th {
    background-color: rgba(52, 52, 52, 0.8);
    text-align: left;
}

.usuarios-table-userimage {
    border-radius: 50px;
    width: 35px;
    height: 35px;
}