.usuarios-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* importante para que respete los anchos del colgroup */
}

.usuarios-table tr {
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.usuarios-table th, .usuarios-table td {
    padding: 8px;
    overflow: hidden;         /* evita que el contenido se desborde */
    text-overflow: ellipsis;  /* muestra "..." si es muy largo */
    white-space: nowrap;      /* evita que se corte en varias líneas */
    font-size: 14px;
}

.usuarios-table th {
    background-color: rgba(52, 52, 52, 0.8);
    text-align: left;
}

.usuarios-table-userimage {
    border-radius: 50px;
    width: 35px;
    height: 35px;
    flex-shrink: 0;
}

.usuarios-filtros-form-inputs-ctn {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.btn-page {
    background-color: transparent;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .usuarios-filtros-form-inputs-ctn {
        width: 100%;
    }
    .usuarios-filtros-form-inputs-ctn input {
        width: 100%;
    }
    .filtros-form {
        justify-content: center;
    }
}