@import url("../../../variables.css");

.confirmation-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999 !important;
}

.confirmation-popup {
    background: var(--background-color);
    padding: 20px 30px 15px 30px;
    border-radius: 12px;
    text-align: center;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    border: 2px solid var(--light-grey);
    color: var(--text-color);
    z-index: 9999 !important;
}

.confirmation-popup-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.popup-btns-ctn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.popup-confirm-button {
    background-color: var(--background-color);
    color: var(--success-text-color);
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    transition: all ease-in-out 150ms;
}

.popup-confirm-button:hover {
    color: var(--success-text-color);
    opacity: 0.8;
}

.popup-cancel-button {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    transition: all ease-in-out 150ms;
}

.popup-cancel-button:hover {
    color: var(--button-hover-text-color);
}

@media screen and (max-width: 500px) {
    .confirmation-popup {
        padding: 20px 12px 15px 12px;
        margin: 0px 16px;
    }
}