.mi-rutina-ctn {
    padding: 20px;
}

.mi-rutina-title {
    display: flex;
    gap: 12px;
}

.mis-rutinas-list {
    /* definimos cuán ancha queremos cada “columna” */
    column-width: 400px;
    /* espacio horizontal entre columnas */
    column-gap: 40px;
    /* opcional: espacio superior dentro del contenedor */
    padding-top: 30px;
  }
  
  /* Ajustamos la rutinas para que ocupen todo el ancho de su columna, 
     y eviten romperse entre columnas */
  .rutina-card {
    display: inline-block;     /* hace que las cards fluyan dentro de las columnas */
    width: 100%;               /* ocupan el 100% de la columna */
    margin-bottom: 40px;       /* espacio vertical entre cards */
    
    /* evitar que se “partan” a mitad de columna */
    -webkit-column-break-inside: avoid;
       -moz-column-break-inside: avoid;
            column-break-inside: avoid;
  }
  
  /* si quieres puedes mantener tus estilos actuales de .rutina-card 
     (padding, background, border-radius, etc.), sólo retira
     las reglas de width:min/max-width que habías puesto antes */
  
.rutina-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.rutina-header h3 {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-family: 'BebasNewu', Arial, Helvetica, sans-serif;
}

.mi-rutina-eliminar-btn {
    color: rgb(243, 102, 102);
    background-color: #202020;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    transition: all ease-in-out 200ms;
    border: none;
    box-shadow: none;
}

.rutina-header-acciones {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.rutina-data {
    padding: 12px 0px;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'BebasNewu', Arial, Helvetica, sans-serif;
}

.bloques-list-bloque {
    padding-top: 15px;
}