.cuotas-table {
  width: 100%;
  border-collapse: collapse;
}

.generate-cuotas-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.cuotas-table th,
.cuotas-table td {
  padding: 18px 8px;
  text-align: left;
  font-size: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.cuotas-table th {
  background-color: rgba(52, 52, 52, 0.178);
  font-weight: 400;
}

.badge {
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 0.85rem;
  font-weight: 500;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.badge.paid {
  background-color: #CDFFCD;
  color: #1E7E34;
  width: 85px;
}

.badge.pending {
  background-color: #ffe9c6;
  color: #d27300;
  width: 85px;
}

.badge.expired {
  background-color: #ffcfcf;
  color: #da311e;
  width: 85px;
}

.text-error {
  color: #c00;
}

.acciones-cell {
  display: flex;
  gap: 14px;
}

.accion-button {
  background-color: #101010;
  border: none;
  outline: none;
  cursor: pointer;
  color: #62BD66;
}

.accion-button.delete {
  background-color: #101010;
  border: none;
  outline: none;
  cursor: pointer;
  color: rgb(255, 50, 50);
}

/* Ajustes a la cabecera */
.header-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* Modal overlay y contenido */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: #000;
  padding: 24px;
  border-radius: 16px;
  min-width: 360px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.1);
}

.modal-content h3 {
  color: white;
  margin-top: 0;
  margin-bottom: 16px;
}

.form-input-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

/* Form del modal */
.modal-form label {
  display: block;
  margin: 8px 0 4px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
}

/* .modal-form .custom-input,
.modal-form .custom-dropdown {
  margin-bottom: 12px;
} */

.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 8px;
}

/* Acciones del modal */
.modal-actions {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 16px;
}

.modal-primary-button {
  padding: 10px;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  color: #FAFAFA;
  text-decoration: none;
  width: fit-content;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  border: none;
}

.modal-secondary-button {
  padding: 10px;
  background-color: none;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  color: #FAFAFA;
  text-decoration: none;
  width: fit-content;
  font-size: 14px;
  border-radius: 8px;
  background-color: #000;
  cursor: pointer;
  outline: none;
  border: none;
}

.css-1yju044-control , .css-6anckf-control, .css-vdx20g-menu, .css-13cymwt-control, .css-t3ipsp-control, .css-t3ipsp-control:hover, .css-1nmdiq5-menu {
  width: 300px !important;
  background-color: #252525 !important;
  color: #FAFAFA;
  min-height: 50px !important;
  border-radius: 8px !important;
  box-shadow: none !important;
  border-color: rgba(255, 255, 255, 0.1) !important;
}

.css-1dimb5e-singleValue, .css-1cfo1cf {
  color: white !important;
}

.css-1yju044-control:focus, .css-1yju044-control:active, .css-13cymwt-control:focus, .css-13cymwt-control:active {
  background-color: #252525;
  width: 300px;
}

.css-1nmdiq5-menu .css-qr46ko .css-tr4s17-option, .css-1nmdiq5-menu .css-qr46ko .css-10wo9uf-option {
  background-color: transparent !important;
  color: white !important;
  transition: all ease-in-out 100ms !important;
}

.css-1nmdiq5-menu .css-qr46ko .css-tr4s17-option:hover, .css-1nmdiq5-menu .css-qr46ko .css-10wo9uf-option:hover, .css-1nmdiq5-menu .css-qr46ko .css-10wo9uf-option:focus,  .css-d7l1ni-option  {
  background-color: #303030 !important;
}

.custom-datepicker-mes {
  width: 300px;
}

.form-input-ctn {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: start;
}

.cuotas-table th, .cuotas-table td {
  min-height: 72.5px;
}

.cuotas-usuario-mes-col {
  text-transform: lowercase;
}

.cuotas-usuario-mes-col::first-letter {
  text-transform: uppercase;
}