@import url("../../../variables.css");
.custom-dropdown {
    background-color: var(--background-color-distinct);
    border-radius: 12px;
    width: 300px;
    min-width: 300px;
    padding: 16px 32px 16px 20px;
    border: none;
    outline: none;
    color: var(--text-color);
    font-size: 16px;
    appearance: none; 
    cursor: pointer;
}

.custom-dropdown:focus {
    box-shadow: 0 0 5px rgba(250, 250, 250, 0.5);
}

@media screen and (max-width: 500px) {
    .custom-dropdown {
        width: 100%;
    }
}