.mi-rutina-title {
    display: flex;
    gap: 12px;
    max-width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mis-rutinas-list {
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.filtros-section {
    margin: 20px 0;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    align-items: flex-end;
}

.filtros-section label {
    margin-bottom: 8px;
}

.filtros-section-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.rutina-card {
    display: inline-block;
    margin-bottom: 40px;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    padding: 20px;
    width: 320px;
    min-width: 320px;
    max-width: 320px;
    border-radius: 8px;
    background-color: #202020;
    height: 100%;
}

.rutina-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.rutina-header h3 {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-family: 'BebasNewu', Arial, Helvetica, sans-serif;
}

.exercise-link {
    text-decoration: underline;
    color: white;
}

.mi-rutina-eliminar-btn {
    color: rgb(243, 102, 102);
    background-color: #202020;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    transition: all ease-in-out 200ms;
    border: none;
    box-shadow: none;
}

.rutina-header-acciones {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.rutina-data {
    padding: 12px 0px;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'BebasNewu', Arial, Helvetica, sans-serif;
}

.bloques-list-bloque {
    padding-top: 15px;
}

.bloque-card {
    padding: 12px 0px;
    line-height: 28px;
}

@media screen and (max-width: 500px) {
    .mi-rutina-ctn {
        width: 100%;
    }

    .mi-rutina-title {
        width: 100%;
        justify-content: space-between;
    }

    .mis-rutinas-list {
        padding-top: 0px;
    }

    .rutina-card {
        width: 100%;
        max-width: none;
        min-width: auto;
        max-width: auto;
        margin-bottom: 20px;
    }
    .filtros-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .filtros-section-btns {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }
}