.cuotas-datos-pagos {
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 16px;
}

.cuotas-datos-pagos-info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 8px; 
}

.cuotas-table-usuario {
    margin-top: 20px;
}