@font-face {
    font-family: 'BebasNewu';
    src: url('assets/fonts/BebasNeue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }  

.page-layout {
    display: flex;
    justify-content: start;
}

.content-layout {
    background-color: #101010;
    color: #FAFAFA;
    width: 100%;
    height: auto;
    padding: 20px;
}

@media screen and (max-width: 768px) {
    .content-layout {
        padding: 80px 12px;   
    }
}

@media (max-width: 768px) {
    .Toastify__toast-container--top-right {
      width: 70% !important;
      top: 12px;
      right: 20px !important;       /* separación del borde derecho */
      left: auto !important;        /* ancla bien al right */
      transform: none !important;   /* por si hubiera un translateX */
    }
  }
  