@import url("./variables.css");
@font-face {
    font-family: 'BebasNewu';
    src: url('assets/fonts/BebasNeue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }  

.page-layout {
    display: flex;
    justify-content: start;
}

.content-layout {
    background-color: var(--background-color);
    color: var(--text-color);
    width: 100%;
    height: auto;
    padding: 20px;
}

@media screen and (max-width: 768px) {
    .content-layout {
        padding: 80px 12px;   
    }
}

@media screen and (max-width: 768px) {
    .Toastify__toast-container--top-right {
      width: 70% !important;
      top: 12px;
      right: 20px !important;    
      left: auto !important;  
      transform: none !important;  
    }
  }
  