/* variables.css */
:root {
    --primary-color: #DA4632;
    --primary-color-hover: #ee452f;
    --background-hover-color: #da463244;

    /* Dark */
    
    --text-color: #ffffff;
    --background-color: #101010; 
    --background-color-distinct: #1b1b1bab;
   

    /* Light */
    
    /* --text-color: #000;
    --background-color: #fff;
    --background-color-distinct: #ececec78; */
   
}
