.rutina-asignada {
  margin-top: 10px;
  padding-top: 16px;
  /* margin: 6px 0px; */
  border-top: 1px solid var(--border-color);
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.15); */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 8px;
}

.asignado-img-usuario {
  border-radius: 50px;
}

.rutina-asignada-user-data {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.rutinas-asignadas-filtro-ctn {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
  color: var(--text-color);
  padding: 10px 0px;
}

.rutinas-asignadas-filtros-btns {
  display: flex;
  margin-left: 20px
}

.rutinas-asignadas-checkbox-ctn {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--text-color);
  padding: 10px 0px;
}

@media screen and (max-width: 500px) {
  /* #root > div.page-layout > div > div:nth-child(2) > div > div {
    width: 100% !important;
  } */

  .rutinas-asignadas-filtro-ctn {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 20px;
  }

  .rutinas-asignadas-filtros-btns {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
  }

}

.dropset-lines {
  list-style: none;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}