.inicio-bienvenida-ctn {
    margin-bottom: 20px;
}

.turnos-ctn {
    width: 550px;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.turnos-ctn-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.turnos-ctn-title h3 {
    color: #FAFAFA;
    font-weight: 600;
}

.inicio-clases-act-title {
    margin-top: 30px;
    width: 550px;
    max-width: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inicio-clases-act-title h3 {
    color: #FAFAFA;
    font-weight: 600;
}

.turnos-ctn-turnos {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media screen and (max-width: 550px) {
    .turnos-ctn {
        width: auto;
    }
    .inicio-clases-act-title, .turnos-ctn-title {
        width: auto;
        flex-wrap: wrap;
    }
}