.turnos-ctn {
    width: 550px;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.turnos-ctn-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.turnos-ctn-title h2 {
    color: #FAFAFA;
}

.inicio-clases-act-title {
    margin-top: 30px;
    width: 550px;
    max-width: 550px;
    display: flex;
    justify-content: space-between;
}

.turnos-ctn-turnos {
    display: flex;
    flex-direction: column;
    gap: 10px;
}