.clases-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
}

.clase-item {
    padding: 20px;
    width: 300px;
    max-width: 300px;
    height: fit-content;
    min-height: 300px;
    background-color: #202020;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    border-radius: 16px;
}